

Options +FollowSymLinks -Indexes
# php_flag engine off

DirectoryIndex derp.php

RewriteBase /
RewriteEngine On


# The creators rewrites
RewriteRule ^creator/main/([^/.]+)/?$ /creator_main.html?creator=$1 [L]
RewriteRule ^creator/main/(.*) $1  [L]

RewriteRule ^creator/overview/([^/.]+)/?$ /creator_overview.html?creator=$1 [L]
RewriteRule ^creator/overview/(.*) $1  [L]






