#Options +FollowSymLinks +Indexes
# php_flag engine off

#DirectoryIndex derp.php

RewriteBase /
RewriteEngine On


AddType text/javascript .js

# html directs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L,QSA]


# make landing look like the root
#RewriteRule ^$ /landing.html [L]
RewriteRule ^$ /asdf.html [L]


ErrorDocument 404 /404.html

# The creators rewrites
RewriteRule ^creators/main/([^/.]+)/?$ /creator_main.html?creator=$1 [L]
RewriteRule ^creators/main/(.*) $1  [L]

RewriteRule ^creators/overview/([^/.]+)/?$ /creator_overview.html?creator=$1 [L]
RewriteRule ^creators/overview/(.*) $1  [L]

RewriteRule ^creators/funds/([^/.]+)/?$ /creator_funds.html?creator=$1 [L]
RewriteRule ^creators/funds/(.*) $1  [L]

RewriteRule ^creators/pieces/([^/.]+)/?$ /creator_pieces.html?creator=$1 [L]
RewriteRule ^creators/pieces/(.*) $1  [L]

RewriteRule ^creators/pricing/([^/.]+)/?$ /creator_pricing.html?creator=$1 [L]
RewriteRule ^creators/pricing/(.*) $1  [L]

RewriteRule ^creators/rewards/([^/.]+)/?$ /creator_rewards.html?creator=$1 [L]
RewriteRule ^creators/rewards/(.*) $1  [L]

RewriteRule ^creators/settings/([^/.]+)/?$ /creator_settings.html?creator=$1 [L]
RewriteRule ^creators/settings/(.*) $1  [L]

RewriteRule ^creators/worth/([^/.]+)/?$ /creator_worth.html?creator=$1 [L]
RewriteRule ^creators/worth/(.*) $1  [L]

# The users rewrites
RewriteRule ^users/funds/([^/.]+)/?$ /userdashboard_funds.html?user=$1 [L]
RewriteRule ^users/funds/(.*) $1  [L]

RewriteRule ^users/overview/([^/.]+)/?$ /userdashboard_overview.html?user=$1 [L]
RewriteRule ^users/overview/(.*) $1  [L]

RewriteRule ^users/pieces/([^/.]+)/?$ /userdashboard_pieces.html?user=$1 [L]
RewriteRule ^users/pieces/(.*) $1  [L]

RewriteRule ^users/prices/([^/.]+)/?$ /userdashboard_prices.html?user=$1 [L]
RewriteRule ^users/prices/(.*) $1  [L]

RewriteRule ^users/settings/([^/.]+)/?$ /userdashboard_settings.html?user=$1 [L]
RewriteRule ^users/settings/(.*) $1  [L]
